<!doctype html>
<!--[if IE 8]> <html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <meta property="og:url" content="" />
        <meta property="og:image" content="/images/facebook.jpg"/>
        <meta property="og:title" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:type" content="website"/>
        <!-- build:css {{assets}}/css/main.css -->
        <link rel="stylesheet" href="{{assets}}/css/main.css">
        <!-- endbuild -->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {{> header }}
        {{> body }}
        {{> footer }}
        <!-- build:js {{assets}}/js/main.js -->
        <script src="{{assets}}/bower_components/jquery/jquery.js"></script>
        <script src="{{assets}}/js/plugins.js"></script>
        <script src="{{assets}}/js/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
